<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回顾历史</title>
    <link rel="stylesheet" href="../../static/css/top_footer.css">
    <link rel="stylesheet" href="../../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
            <link rel="stylesheet" href="../../static/css/style1.css">

</head>
<body>
<div class="top">
    <ul>

        <br><span
            style="color: rgb(244, 240, 240); font-weight: bold;font-size: x-large;position:absolute;top: 15px;left: 10px;">同伴教学法——题目列表</span>

        <li><a href="{% url 'accounts:log_out' %}">退出登录</a></li>
    </ul>
</div>

<br><br><br>

<div class="nav11">
    <ul>
    <li role="presentation">
        <a href="{% url 'index_student' %}" style="color: white">个人主页</a>
    </li>
    <li role="presentation"><a href="#" style="color: white">答题历史</a></li>
    </ul>

</div>

<form method="get" action="">
    <label for="course-filter" style="color: white;font-size: large;position: relative;left: 1%;">选择课程：</label>
    <select id="course-filter" name="course">
        <option value="">全部课程</option>
        {% for course in courses %}
            <option value="{{ course.course_name }}">{{ course.course_name }}</option>
        {% endfor %}
        <!-- 其他课程选项 -->
    </select>
    <button type="submit">筛选</button>
</form>


<ul>
    <table class="table" style="color: white">
        <thead>
        <tr>
            <th>课程</th>
            <th>题目</th>
            <th>你的选择</th>
            <th>正确答案</th>
            <th>你的理由</th>
            <th>参考理由</th>
        </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            {% if course_filter == '' or answer.question.course.course_name == course_filter %}
                <tr>
                    <td>{{ answer.question.course.course_name }}</td>
                    <td>{{ answer.question.content }}</td>
                    <td>{{ answer.answer }}</td>
                    <td>{{ answer.question.solution }}</td>
                    <td>{{ answer.reason }}</td>
                    <td>{{ answer.question.sol_reason }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</ul>
{#<ul>#}
{#    {% for answer in answers %}#}
{#        {% if course_filter == '' or answer.question.course.course_name == course_filter %}#}
{#            <li style="color: white">{{ answer.question.course.course_name }} {{ answer.question.content }}--{{ answer.answer }}--{{ answer.reason }}</li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</ul>#}

<div id="footer">
    <br>
    <p>Copyright 2023 All Rights Reserved. lllc工作室 版权所有</p>
</div>

</body>
</html>