<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布帖子</title>
    <link rel="stylesheet" href="../../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/top_footer.css">
            <link rel="stylesheet" href="../../static/css/style1.css">

</head>
<body>
    <div class="top">
        <ul>

            <br><span style="color: rgb(244, 240, 240); font-weight: bold;font-size: x-large;position:absolute;top: 15px;left: 10px;">同伴教学法——发布帖子</span>

            <li><a href="{% url 'accounts:log_out' %}">退出登录</a></li>
        </ul>
    </div>
    <br><br><br>

    <div class="nav11">
    <ul>
    <li role="presentation">
        {% if is_teacher %}
        	<a href="{% url 'indexteacher' %}" style="color: white">个人主页</a>
        {% endif %}
        {% if is_teacher == False %}
            <a href="{% url 'index_student' %}" style="color: white">个人主页</a>
        {% endif %}
    </li>
    <li role="presentation"><a href="{% url 'courselist' %}" style="color: white">课程列表</a></li>
    <li role="presentation"><a href="{% url 'course_detail' course_id %}" style="color: white">{{ course.course_name }}</a></li>
    <li role="presentation"><a href="{% url 'forum_index' course_id %}" style="color: white">论坛主页</a></li>
    <li role="presentation"><a href="#" style="color: white">发布帖子</a></li>
    </ul>

    </div>


    <form method="post">
        {% csrf_token %}
        <label for="title" style="color:white; font-size: large;position: relative;left: 1%">标题：</label>
        <input type="text" id="title" name="title" style="margin-left: 10px; width: 500px"><br>

        <label for="content" style="color: white;font-size: large;position: relative;left: 1%">内容：</label>
{#        <input type="content" id="content" name="content" class="form-control" placeholder="内容" aria-describedby="sizing-addon1"><br>#}
        <textarea class="form-control" rows="10" id="content" name="content" style="width: 1000px;margin-left: 10px"></textarea>

        <input type="submit" value="发布"  class="btn btn-primary btn-lg" style="position: relative;left: 1%;margin-top: 10px">

    </form>
</body>
</html>